[submodule "\\Users\\Jacob\\OneDrive\\Desktop\\PaloWork\\PalowWorkSite\\web"]
	path = \\Users\\Jacob\\OneDrive\\Desktop\\PaloWork\\PalowWorkSite\\web
	url = C:\\Users\\Jacob\\OneDrive\\Desktop\\PaloWork\\PalowWorkSite\\web
